Description: IAM Role for {{ sceptre_user_data.project_code }}
AWSTemplateFormatVersion: "2010-09-09"

Resources:

{%- for role in sceptre_user_data.roles %}
{%- set role_name = role.name %}
  {{ role_name }}:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
{{ role.assume_role_policy_document | indent(width=8, first=true)}}
{%- if role.description is defined %}
      Description: {{ role.description }}
{%- endif %}
{%- if role.managed_policy_arns is defined %}
      ManagedPolicyArns:
{%- for arn in role.managed_policy_arns %}
        - {{ arn }}
{%- endfor %}
{%- endif %}
{%- if role.max_session_duration is defined %}
      MaxSessionDuration: {{ role.max_session_duration }}
{%- endif %}
{%- if role.path is defined %}
      Path: {{ role.path }}
{%- endif %}
{%- if role.permissions_boundary is defined %}
      PermissionsBoundary: {{ role.permissions_boundary }}
{%- endif %}
{%- if role.policies is defined %}
      Policies:
{%- for policy in role.policies %}
        - PolicyName: {{ policy.policy_name }}
{%- if policy.policy_document_json is defined %}
          PolicyDocument: {{ policy.policy_document_json }}
{%- else %}
          PolicyDocument:
{{ policy.policy_document | indent(width=12, first=true) }}
{%- endif %}
{%- endfor %}
{%- endif %}
{%- if role.role_name is defined %}
      RoleName: {{ role.role_name }}
{%- endif %}
      Tags:
        - Key: SourceRepoURL
          Value: {{ sceptre_user_data.source_repo_url }}
{%- if role.tags is defined %}
{%- for key,value in role.tags.items() %}
        - Key: {{ key }}
          Value: {{ value }}
{%- endfor %}
{%- endif %}
{%- endfor %}

Outputs:

{%- for role in sceptre_user_data.roles %}
{% set role_name = role.name %}
  {{ role_name }}:
    Description: Role Name for {{ role_name }}
    Value:
      Ref: {{ role_name }}
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ role_name }}"

  {{ role_name }}Arn:
    Description: The ARN for {{ role_name }}
    Value:
      Fn::GetAtt:
        - {{ role_name }}
        - Arn
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ role_name }}-Arn"

  {{ role_name }}RoleId:
    Description: The Role Id for {{ role_name }}
    Value:
      Fn::GetAtt:
        - {{ role_name }}
        - RoleId
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ role_name }}-RoleId"
{%- endfor %}
