{%- macro prep(store) %}
{%- if store.encryption_key is defined %}
EncryptionKey:
  Id: {{ store.encryption_key.id }}
  Type: {{ store.encryption_key.type }}
{%- endif %}
Location: {{ store.location }}
Type: {{ store.type }}
{%- endmacro %}